﻿@model IEnumerable<CredoTasksApp.Models.TaskDataModel>

<p>
    @Html.ActionLink("Add New Task", "AddTask")
</p>

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsComplete)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        @Html.HiddenFor(model => item.Id)
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsComplete)
            </td>
            <td>

                @Html.ActionLink("Edit", "EditTask", new { id = item.Id }) |

                @Html.ActionLink("Delete", "DeleteTask", new { id = item.Id },
               new { onclick = "return confirm('Are sure you want to delete?');" })

            </td>
        </tr>

    }

</table>
